<template>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        Form Tambah User Baru
        <a href="/api/user" class="btn btn-primary float-right">Kembali</a>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Nama User</label>
            <input type="text" class="form-control" v-model="name" />
          </div>
          <div class="form-group">
            <label for="email">Email User</label>
            <input type="email" class="form-control" v-model="email" />
          </div>
          <div class="form-group">
            <label for="password">Password User</label>
            <input type="password" class="form-control" v-model="password" />
          </div>
          <input v-on:click="send()" class="btn btn-success" value="Save" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
    };
  },
  methods: {
    send() {
      //   console.log(this.name);
      axios
        .post("/user/create", {
          name: this.name,
          email: this.email,
          password: this.password,
        })
        .then((result) => {
          (this.name = ""), (this.email = ""), (this.password = "");
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    // this.data();
    // console.log(this.data.users);
  },
};
</script>
