<template>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        User List
        <a href="/api/user/create" class="btn btn-primary float-right">Tambah User</a>
      </div>
      <div class="card-body table-responsive">
        Data user
        <table id="users" class="table table-bordered table-hover">
          <thead>
            <th>Nama</th>
            <th>Email</th>
            <th>Aksi</th>
          </thead>
          <tbody v-for="(user, index) in users">
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>
                <a v-on:click="edit(user.id)" class="btn btn-success">Edit</a>
                <a v-on:click="hapus(user.id)" class="btn btn-danger">Hapus</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: [],
    };
  },
  methods: {
    data() {
      axios
        .post("/user/data")
        .then((result) => {
          this.users = result.data;
          console.log(result.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    edit(id) {
      axios.get("/api/user/edit/" + id);
    },
  },
  mounted() {
    this.data();
    // console.log(this.data.users);
  },
};
</script>
