<template>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        Arisan List
        <a href="/arisan/create" class="btn btn-primary float-right">Tambah Arisan</a>
      </div>
      <div class="card-body table-responsive">
        Data Arisan
        <table id="users" class="table table-bordered table-hover">
          <thead>
            <th>Nama Arisan</th>
            <th>Bendahara</th>
            <th>Jumlah Peserta</th>
            <th>Iuran Peserta</th>
            <th>Periode Undian</th>
            <th>Mulai Arisan</th>
            <th>Aksi</th>
          </thead>
          <tbody v-for="(arisan, index) in arisan">
            <tr>
              <td>{{arisan.nama_arisan}}</td>
              <td>{{arisan.user.name}}</td>
              <td>{{arisan.jumlah_peserta}}</td>
              <td>{{arisan.iuran}}</td>
              <td v-for="(periode,index) in arisan.periode">{{ periode.periode}}</td>
              <td>{{arisan.mulai}}</td>
              <td>
                <a href="arisan/edit/" class="btn btn-sm btn-success">Edit</a>
                <a v-on:click="hapus(arisan.id)" class="btn btn-sm btn-danger">Hapus</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arisan: [],
    };
  },

  methods: {
    data() {
      axios
        .post("/arisan/data")
        .then((result) => {
          this.arisan = result.data;
          console.log(result.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    edit(id) {
      axios.get("/arisan/edit/" + id);
    },
  },
  mounted() {
    this.data();
    // console.log(this.data.users);
  },
};
</script>
