<template>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        Form Tambah Arisan Baru
        <a href="/arisan" class="btn btn-primary float-right">Kembali</a>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="nama_arisan">Nama Arisan</label>
            <input type="text" class="form-control" v-model="nama_arisan" />
          </div>
          <div class="form-group">
            <label for="jumlah_peserta">Jumlah Peserta</label>
            <input type="number" class="form-control" v-model="jumlah_peserta" />
          </div>
          <div class="form-group">
            <label for="besar_iuran">Besar Iuran Peserta</label>
            <input type="number" v-model="iuran" class="form-control" />
          </div>
          <div class="form-group">
            <label for="rekening">Rekening Bendahara</label>
            <input type="text" v-model="rekening_bendahara" class="form-control" />
          </div>
          <div class="form-group">
            <label for="mulai">Mulai Arisan</label>
            <input type="date" v-model="mulai" class="form-control" />
          </div>
          <div class="form-group">
            <label>Periode Arisan :</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="minggu"
                v-model="periode"
                v-bind:value="1"
              />
              <label class="custom-control-label" for="minggu">1 Minggu</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                v-model="periode"
                id="bulan"
                v-bind:value="2"
              />
              <label class="custom-control-label" for="bulan">1 Bulan</label>
            </div>
          </div>
          <input v-on:click="send()" class="btn btn-success" value="Save" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
Vue.prototype.$userId = document
  .querySelector("meta[name='user-id']")
  .getAttribute("content");
export default {
  data() {
    return {
      nama_arisan: "",
      bendahara: "",
      jumlah_peserta: "",
      iuran: "",
      periode: "",
      rekening_bendahara: "",
      mulai: "",
    };
  },
  props: ["user"],
  methods: {
    send() {
      // console.log(this.user);
      axios
        .post("/arisan/store", {
          nama_arisan: this.nama_arisan,
          bendahara: this.user,
          jumlah_peserta: this.jumlah_peserta,
          iuran: this.iuran,
          periode: this.periode,
          rekening_bendahara: this.rekening_bendahara,
          mulai: this.mulai,
        })
        .then((result) => {
          console.log(result);
          (this.nama_arisan = ""),
            (this.bendahara = ""),
            (this.jumlah_peserta = "");
          this.iuran = "";
          this.periode = "";
          this.rekening_bendahara = "";
          this.mulai = "";
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },

  mounted() {
    // this.data;
    // console.log(this.data.users);
  },
};
</script>
