<template>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Level User Component</div>
      <div class="card-body">I'm an level user component</div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  },
};
</script>
