<template>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h5 class="text-header">Menu</h5>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/user" class="card-link">User Menu</a>
          </li>
          <li class="list-group-item">
            <a href="/level" class="card-link">User Level</a>
          </li>
          <li class="list-group-item">
            <a href="/arisan" class="card-link">Create Arisan</a>
          </li>
          <li class="list-group-item">
            <a href="/group-arisan" class="card-link">Group Arisan</a>
          </li>
          <li class="list-group-item">
            <a href="/invoice" class="card-link">Invoice Arisan</a>
          </li>
          <li class="list-group-item">
            <a href="/chat" class="card-link">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  },
};
</script>